h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

input {
  appearance: none;
  outline: none;
  border: none;
  background: #eee;
  width: 100%;
  max-width: 300px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

button,
a {
  appearance: none;
  outline: none;
  border: none;
  background: #0eba72;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

img {
  display: block;
  width: 50%;
  max-width: 480px;
  height: auto;
  margin: 2rem auto;
}

footer {
  /* display: block; */
  /* background: #000; */
  text-align: center;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  input {
    width: 50%;
  }

  button {
    font-size: 1rem;
  }

  img {
    width: 80%;
  }

  a {
    width: 80%;
  }
}
